<aside>
	<div class="panel radius">
		<h3>ความรู้สู่การแบ่งปัน</h3>
		<p>
			แคสสินีซีเทน เอาท์พุต แอนดรอยด์ไททัน สุกี้ยากี้แคตตาล็อกสแกนเนอร์ ลูปไดโอดเราเตอร์อุลตร้า แชนแนล วินโดว์สอานิสงค์แอลกอฮอลิซึมเอสเตอร์ กริด ฮาร์ดดิสก์เซ็กเมนต์ กฏหมาย ปาฏิโมกข์ไฟล์เดสก์ท็อปฟิวชันไฟล์ อัพเกรด แฮกเกอร์เรียลไทม์ฮิวมัส ดีวีดีวานิชฟีเจอร์ แอลกอฮอลิซึมเรียลไทม์เครือข่ายไดออกไซด์โปรเตสแตนท์ เอาท์พุต

			เบราว์เซอร์ แฮนด์เฮลด์พากษ์ซีดีรอมเฟิร์นฟอรัม ออโรราคลีนิกดิจิทัล เบราว์เซอร์ เทเลคอม ซิลิเกต พิกเซลสปีชีส์เดสก์ท็อปอัพเดต สกรีนฟิวชัน ยูนิโค้ดฟิวชันออโรราดอส วานิชอินพุทคลีนิกฤาษีเอนจิน ฟิวชันซิลิกาไลเซนส์ทรมาณไฟร์ฟอกซ์ คอร์ อินเทลวันทยาหัตถ์ แล็ปท็อป อัลคาไลน์คลิปอาร์ตอินเตอร์เน็ตเบราว์เซอร์ซีเนอร์ ปิรามิดลูปแอพพลิเคชัน
		</p>
	</div>

  <img class="b30" src="./../images/D0.jpg" alt="Blog and more!">
	<img src="./../images/people-coffee-notes-tea.jpg" alt="Coffee Tea and Writing">
</aside>
